@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply px-4 py-2 rounded text-white cursor-pointer w-max transition-all;
    }

    .btn-success {
        @apply btn bg-green-600 hover:bg-green-700 active:bg-green-800;
    }
    .btn-warning {
        @apply btn bg-yellow-400 hover:bg-yellow-500 active:bg-yellow-600 text-black;
    }
    .btn-danger {
        @apply btn bg-red-500 hover:bg-red-600 active:bg-red-700;
    }
    .btn-info {
        @apply btn bg-blue-500 hover:bg-blue-600 active:bg-blue-700;
    }
    .btn-light {
        @apply btn bg-gray-100 hover:bg-gray-200 active:bg-gray-300 text-black;
    }
    .btn-dark {
        @apply btn bg-gray-700 hover:bg-gray-800 active:bg-gray-900;
    }
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

hr {
    border-width: 0.135rem;
    margin: 2px 0 2px;
    max-width: 80%;
}

/* highlightjs */
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}
